@charset "UTF-8";
/* ===== Start ICONS CSS ===== */
@font-face {
  font-family: "zipli-icon";
  src: url("./assets/fonts/icons/zipli-icon-1.0.0.eot");
  src: url("./assets/fonts/icons/zipli-icon-1.0.0.eot?#iefix") format("eot"), url("./assets/fonts/icons/zipli-icon-1.0.0.woff2") format("woff2"), url("./assets/fonts/icons/zipli-icon-1.0.0.woff") format("woff"), url("./assets/fonts/icons/zipli-icon-1.0.0.ttf") format("truetype"), url("./assets/fonts/icons/zipli-icon-1.0.0.svg#zipli-icon-1.0.0") format("svg");
}
[class*=zipli-icon-] {
  font-family: "zipli-icon";
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
  display: inline-block;
  font-style: normal;
  font-variant: normal;
  font-weight: normal;
  line-height: 1;
  vertical-align: middle;
}

.zipli-icon-angle-down:before {
  content: "";
}

.zipli-icon-angle-left:before {
  content: "";
}

.zipli-icon-angle-right:before {
  content: "";
}

.zipli-icon-angle-up:before {
  content: "";
}

.zipli-icon-arrow-left:before {
  content: "";
}

.zipli-icon-arrow-right:before {
  content: "";
}

.zipli-icon-arrow-triangel:before {
  content: "";
}

.zipli-icon-binoculars:before {
  content: "";
}

.zipli-icon-checkbox-circle:before {
  content: "";
}

.zipli-icon-collaborate:before {
  content: "";
}

.zipli-icon-compass:before {
  content: "";
}

.zipli-icon-discount:before {
  content: "";
}

.zipli-icon-e-mail:before {
  content: "";
}

.zipli-icon-long-arrow-left:before {
  content: "";
}

.zipli-icon-long-arrow-right:before {
  content: "";
}

.zipli-icon-mail:before {
  content: "";
}

.zipli-icon-map-pin:before {
  content: "";
}

.zipli-icon-phone:before {
  content: "";
}

.zipli-icon-play:before {
  content: "";
}

.zipli-icon-route:before {
  content: "";
}

.zipli-icon-star-1:before {
  content: "";
}

.zipli-icon-tag1:before {
  content: "";
}

.zipli-icon-team-management:before {
  content: "";
}

.zipli-icon-tent:before {
  content: "";
}

.zipli-icon-weight:before {
  content: "";
}

.zipli-icon-adobe:before {
  content: "";
}

.zipli-icon-amazon:before {
  content: "";
}

.zipli-icon-android:before {
  content: "";
}

.zipli-icon-angular:before {
  content: "";
}

.zipli-icon-apper:before {
  content: "";
}

.zipli-icon-apple:before {
  content: "";
}

.zipli-icon-atlassian:before {
  content: "";
}

.zipli-icon-behance:before {
  content: "";
}

.zipli-icon-bitbucket:before {
  content: "";
}

.zipli-icon-bitcoin:before {
  content: "";
}

.zipli-icon-bity:before {
  content: "";
}

.zipli-icon-bluetooth:before {
  content: "";
}

.zipli-icon-btc:before {
  content: "";
}

.zipli-icon-centos:before {
  content: "";
}

.zipli-icon-chrome:before {
  content: "";
}

.zipli-icon-codepen:before {
  content: "";
}

.zipli-icon-cpanel:before {
  content: "";
}

.zipli-icon-discord:before {
  content: "";
}

.zipli-icon-dochub:before {
  content: "";
}

.zipli-icon-docker:before {
  content: "";
}

.zipli-icon-dribbble:before {
  content: "";
}

.zipli-icon-dropbox:before {
  content: "";
}

.zipli-icon-drupal:before {
  content: "";
}

.zipli-icon-ebay:before {
  content: "";
}

.zipli-icon-facebook-f:before {
  content: "";
}

.zipli-icon-facebook-r:before {
  content: "";
}

.zipli-icon-facebook:before {
  content: "";
}

.zipli-icon-figma:before {
  content: "";
}

.zipli-icon-firefox:before {
  content: "";
}

.zipli-icon-google-plus:before {
  content: "";
}

.zipli-icon-google:before {
  content: "";
}

.zipli-icon-grunt:before {
  content: "";
}

.zipli-icon-gulp:before {
  content: "";
}

.zipli-icon-html5:before {
  content: "";
}

.zipli-icon-joomla:before {
  content: "";
}

.zipli-icon-link-brand:before {
  content: "";
}

.zipli-icon-linkedin:before {
  content: "";
}

.zipli-icon-mailchimp:before {
  content: "";
}

.zipli-icon-opencart:before {
  content: "";
}

.zipli-icon-paypal:before {
  content: "";
}

.zipli-icon-pinterest-p:before {
  content: "";
}

.zipli-icon-reddit:before {
  content: "";
}

.zipli-icon-skype:before {
  content: "";
}

.zipli-icon-slack:before {
  content: "";
}

.zipli-icon-snapchat:before {
  content: "";
}

.zipli-icon-spotify:before {
  content: "";
}

.zipli-icon-trello:before {
  content: "";
}

.zipli-icon-twitter-x:before {
  content: "";
}

.zipli-icon-twitter:before {
  content: "";
}

.zipli-icon-vimeo:before {
  content: "";
}

.zipli-icon-whatsapp:before {
  content: "";
}

.zipli-icon-wordpress:before {
  content: "";
}

.zipli-icon-yoast:before {
  content: "";
}

.zipli-icon-youtube:before {
  content: "";
}

.zipli-icon-360:before {
  content: "";
}

.zipli-icon-bars:before {
  content: "";
}

.zipli-icon-cart-empty:before {
  content: "";
}

.zipli-icon-check-square:before {
  content: "";
}

.zipli-icon-chevron-down:before {
  content: "";
}

.zipli-icon-chevron-left:before {
  content: "";
}

.zipli-icon-chevron-right:before {
  content: "";
}

.zipli-icon-chevron-up:before {
  content: "";
}

.zipli-icon-circle:before {
  content: "";
}

.zipli-icon-clock:before {
  content: "";
}

.zipli-icon-cloud-download-alt:before {
  content: "";
}

.zipli-icon-comment:before {
  content: "";
}

.zipli-icon-comments:before {
  content: "";
}

.zipli-icon-contact:before {
  content: "";
}

.zipli-icon-credit-card:before {
  content: "";
}

.zipli-icon-dot-circle:before {
  content: "";
}

.zipli-icon-edit:before {
  content: "";
}

.zipli-icon-envelope:before {
  content: "";
}

.zipli-icon-expand-alt:before {
  content: "";
}

.zipli-icon-external-link-alt:before {
  content: "";
}

.zipli-icon-file-alt:before {
  content: "";
}

.zipli-icon-file-archive:before {
  content: "";
}

.zipli-icon-folder-open:before {
  content: "";
}

.zipli-icon-folder:before {
  content: "";
}

.zipli-icon-frown:before {
  content: "";
}

.zipli-icon-gift:before {
  content: "";
}

.zipli-icon-grid:before {
  content: "";
}

.zipli-icon-grip-horizontal:before {
  content: "";
}

.zipli-icon-heart-fill:before {
  content: "";
}

.zipli-icon-history:before {
  content: "";
}

.zipli-icon-home:before {
  content: "";
}

.zipli-icon-info-circle:before {
  content: "";
}

.zipli-icon-instagram:before {
  content: "";
}

.zipli-icon-level-up-alt:before {
  content: "";
}

.zipli-icon-list:before {
  content: "";
}

.zipli-icon-map-marker-check:before {
  content: "";
}

.zipli-icon-meh:before {
  content: "";
}

.zipli-icon-minus-circle:before {
  content: "";
}

.zipli-icon-minus:before {
  content: "";
}

.zipli-icon-mobile-android-alt:before {
  content: "";
}

.zipli-icon-money-bill:before {
  content: "";
}

.zipli-icon-pencil-alt:before {
  content: "";
}

.zipli-icon-plus:before {
  content: "";
}

.zipli-icon-quote:before {
  content: "";
}

.zipli-icon-random:before {
  content: "";
}

.zipli-icon-reply-all:before {
  content: "";
}

.zipli-icon-reply:before {
  content: "";
}

.zipli-icon-search:before {
  content: "";
}

.zipli-icon-shield-check:before {
  content: "";
}

.zipli-icon-shopping-basket:before {
  content: "";
}

.zipli-icon-sign-out-alt:before {
  content: "";
}

.zipli-icon-smile:before {
  content: "";
}

.zipli-icon-spinner:before {
  content: "";
}

.zipli-icon-square:before {
  content: "";
}

.zipli-icon-star:before {
  content: "";
}

.zipli-icon-store:before {
  content: "";
}

.zipli-icon-sync:before {
  content: "";
}

.zipli-icon-tachometer-alt:before {
  content: "";
}

.zipli-icon-thumbtack:before {
  content: "";
}

.zipli-icon-ticket:before {
  content: "";
}

.zipli-icon-times-circle:before {
  content: "";
}

.zipli-icon-times-square:before {
  content: "";
}

.zipli-icon-times:before {
  content: "";
}

.zipli-icon-trophy-alt:before {
  content: "";
}

.zipli-icon-truck:before {
  content: "";
}

.zipli-icon-user:before {
  content: "";
}

.zipli-icon-video:before {
  content: "";
}

.zipli-icon-wishlist-empty:before {
  content: "";
}

/* ===== End ICONS CSS ===== */
.editor-styles-wrapper blockquote,
.editor-styles-wrapper .wp-block-quote,
.hentry .entry-content blockquote,
.hentry .entry-content .wp-block-quote {
  position: relative;
}
.editor-styles-wrapper blockquote:before,
.editor-styles-wrapper .wp-block-quote:before,
.hentry .entry-content blockquote:before,
.hentry .entry-content .wp-block-quote:before {
  position: absolute;
  font-family: "zipli-icon";
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
  display: inline-block;
  font-style: normal;
  font-variant: normal;
  font-weight: normal;
  line-height: 1;
  vertical-align: middle;
  content: "";
  left: 45px;
  top: 30px;
  font-size: 44px;
  color: var(--primary);
}

.zipli-social ul {
  margin: 0;
  list-style-type: none;
}
.zipli-social ul li {
  display: inline-block;
  margin-right: 10px;
  line-height: 1;
}
.zipli-social ul li:last-child {
  margin-right: 0;
}
.zipli-social ul li a:before {
  position: relative;
  font-family: "zipli-icon";
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
  display: inline-block;
  font-style: normal;
  font-variant: normal;
  font-weight: normal;
  line-height: 1;
  vertical-align: middle;
  content: "";
}
.zipli-social ul li a[href*=twitter]:before {
  content: "";
  color: #1DA1F2;
}
.zipli-social ul li a[href*=instagram]:before {
  content: "";
  color: #262626;
}
.zipli-social ul li a[href*=docker]:before {
  content: "";
}
.zipli-social ul li a[href*=dochub]:before {
  content: "";
}
.zipli-social ul li a[href*=yelp]:before {
  content: "";
  color: #af0606;
}
.zipli-social ul li a[href*=flickr]:before {
  content: "";
  color: #0063dc;
}
.zipli-social ul li a[href*=github]:before {
  content: "";
  color: #333333;
}
.zipli-social ul li a[href*=dribbble]:before {
  content: "";
  color: #ea4c89;
}
.zipli-social ul li a[href*=wordpress]:before {
  content: "";
  color: #21759b;
}
.zipli-social ul li a[href*=tumblr]:before {
  content: "";
  color: #35465c;
}
.zipli-social ul li a[href*=angular]:before {
  content: "";
}
.zipli-social ul li a[href*=atlassian]:before {
  content: "";
}
.zipli-social ul li a[href*=snapchat]:before {
  content: "";
  color: #fffc00;
}
.zipli-social ul li a[href*=apper]:before {
  content: "";
}
.zipli-social ul li a[href*=codepen]:before {
  content: "";
}
.zipli-social ul li a[href*=gulp]:before {
  content: "";
}
.zipli-social ul li a[href*=cpanel]:before {
  content: "";
}
.zipli-social ul li a[href*=skype]:before {
  content: "";
  color: #00AFF0;
}
.zipli-social ul li a[href*=reddit]:before {
  content: "";
  color: #ff4500;
}
.zipli-social ul li a[href*=whatsapp]:before {
  content: "";
}
.zipli-social ul li a[href*=slack]:before {
  content: "";
}
.zipli-social ul li a[href*=amazon]:before {
  content: "";
}
.zipli-social ul li a[href*=android]:before {
  content: "";
}
.zipli-social ul li a[href*=grunt]:before {
  content: "";
}
.zipli-social ul li a[href*=firefox]:before {
  content: "";
}
.zipli-social ul li a[href*=adobe]:before {
  content: "";
}
.zipli-social ul li a[href*=behance]:before {
  content: "";
}
.zipli-social ul li a[href*=dropbox]:before {
  content: "";
}
.zipli-social ul li a[href*=facebook]:before {
  content: "";
  color: #3b5998;
}
.zipli-social ul li a[href*=linkedin]:before {
  content: "";
  color: #0077b5;
}
.zipli-social ul li a[href*=paypal]:before {
  content: "";
}
.zipli-social ul li a[href*=trello]:before {
  content: "";
}
.zipli-social ul li a[href*=vimeo]:before {
  content: "";
  color: #1ab7ea;
}
.zipli-social ul li a[href*=youtube]:before {
  content: "";
  color: #cd201f;
}
.zipli-social ul li a[href*=apple]:before {
  content: "";
  color: #999999;
}
.zipli-social ul li a[href*=bitbucket]:before {
  content: "";
}
.zipli-social ul li a[href*=bitcoin]:before {
  content: "";
}
.zipli-social ul li a[href*=bluetooth]:before {
  content: "";
}
.zipli-social ul li a[href*=bity]:before {
  content: "";
}
.zipli-social ul li a[href*="google/chrome"]:before {
  content: "";
}
.zipli-social ul li a[href*=drupal]:before {
  content: "";
}
.zipli-social ul li a[href*=html5]:before {
  content: "";
}
.zipli-social ul li a[href*=mailchimp]:before {
  content: "";
}
.zipli-social ul li a[href*=jenkins]:before {
  content: "";
}
.zipli-social ul li a[href*=spotify]:before {
  content: "";
  color: #2ebd59;
}
.zipli-social ul li a[href*=ebay]:before {
  content: "";
}
.zipli-social ul li a[href*=telegram]:before {
  content: "";
  color: #2CA5E0;
}
.zipli-social ul li a[href*=yoast]:before {
  content: "";
}
.zipli-social ul li a[href*=btc-e]:before {
  content: "";
}
.zipli-social ul li a[href*=discord]:before {
  content: "";
}
.zipli-social ul li a[href*=google]:before {
  content: "";
  color: #dd4b39;
}
.zipli-social ul li a[href*=google-plus]:before {
  content: "";
}
.zipli-social ul li a[href*=figma]:before {
  content: "";
}
.zipli-social ul li a[href*=joomla]:before {
  content: "";
}
.zipli-social ul li a[href*=opencart]:before {
  content: "";
}
.zipli-social ul li a[href*=pinterest]:before {
  content: "";
  color: #bd081c;
}
.zipli-social ul li a[href*=vimeo]:before {
  content: "";
  color: #1ab7ea;
}
.zipli-social ul li a[href*=centos]:before {
  content: "";
}
.zipli-social ul li a[href*=whatsapp]:before {
  content: "";
}

#comments .commentlist .bypostauthor > .comment-body cite::after {
  font-family: "zipli-icon";
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
  display: inline-block;
  font-style: normal;
  font-variant: normal;
  font-weight: normal;
  line-height: 1;
  vertical-align: middle;
  content: "";
  margin-left: 0.5407911001em;
}

#respond #cancel-comment-reply-link::before {
  font-family: "zipli-icon";
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
  display: inline-block;
  font-style: normal;
  font-variant: normal;
  font-weight: normal;
  line-height: 1;
  vertical-align: middle;
  content: "";
  display: block;
}

#comments .comment-list .reply a.comment-reply-link:before {
  font-family: "zipli-icon";
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
  display: inline-block;
  font-style: normal;
  font-variant: normal;
  font-weight: normal;
  line-height: 1;
  vertical-align: middle;
  content: "";
}
#comments .comment-list .reply a.comment-edit-link:before {
  font-family: "zipli-icon";
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
  display: inline-block;
  font-style: normal;
  font-variant: normal;
  font-weight: normal;
  line-height: 1;
  vertical-align: middle;
  content: "";
}

.sticky .entry-title {
  display: inline-flex;
  align-items: center;
}
.sticky .entry-title::before {
  font-family: "zipli-icon";
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
  display: inline-block;
  font-style: normal;
  font-variant: normal;
  font-weight: normal;
  line-height: 1;
  vertical-align: middle;
  content: "";
  margin-right: 0.5407911001em;
}

button.loading,
.button.loading {
  position: relative;
}
button.loading::after,
.button.loading::after {
  font-family: "zipli-icon";
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
  display: inline-block;
  font-style: normal;
  font-variant: normal;
  font-weight: normal;
  line-height: 1;
  vertical-align: middle;
  content: "";
  animation: fa-spin 0.75s linear infinite;
  height: 20px;
  width: 20px;
  line-height: 20px;
  font-size: 20px;
  position: absolute;
  top: 50%;
  left: 50%;
  margin-left: -10px;
  margin-top: -10px;
  display: block;
  background-color: transparent;
  z-index: 1;
}

.main-navigtion ul li a::before {
  font-family: "zipli-icon";
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
  display: inline-block;
  font-style: normal;
  font-variant: normal;
  font-weight: normal;
  line-height: 1;
  vertical-align: middle;
  content: "";
  margin-right: 0.5407911001em;
}

.mobile-navigation ul li button::before, .mobile-navigation-categories ul li button::before {
  font-family: "zipli-icon";
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
  display: inline-block;
  font-style: normal;
  font-variant: normal;
  font-weight: normal;
  line-height: 1;
  vertical-align: middle;
  content: "";
}
.mobile-navigation ul li button.toggled-on::before, .mobile-navigation-categories ul li button.toggled-on::before {
  font-family: "zipli-icon";
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
  display: inline-block;
  font-style: normal;
  font-variant: normal;
  font-weight: normal;
  line-height: 1;
  vertical-align: middle;
  content: "";
}

.widget_search form::before {
  font-family: "zipli-icon";
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
  display: inline-block;
  font-style: normal;
  font-variant: normal;
  font-weight: normal;
  line-height: 1;
  vertical-align: middle;
  content: "";
  position: absolute;
  top: 50%;
  right: 22px;
  transform: translate(0, -50%);
  z-index: 100;
  color: var(--accent);
  pointer-events: none;
  font-size: 20px;
}
.widget_search.widget_block form::before {
  content: none;
}
.widget_search.widget_block form .wp-block-search__inside-wrapper {
  position: relative;
}
.widget_search.widget_block form .wp-block-search__inside-wrapper:before {
  font-family: "zipli-icon";
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
  display: inline-block;
  font-style: normal;
  font-variant: normal;
  font-weight: normal;
  line-height: 1;
  vertical-align: middle;
  content: "";
  position: absolute;
  top: 50%;
  right: 0;
  transform: translate(0, -50%);
  z-index: 1;
  font-size: 18px;
  height: 54px;
  width: 54px;
  background-color: transparent;
  color: var(--accent);
  display: flex;
  justify-content: center;
  align-items: center;
}

a.remove {
  display: block;
  width: 1.618em;
  height: 1.618em;
  line-height: 1.618;
  font-weight: 400;
  text-indent: -9999px;
  position: relative;
}
a.remove::before {
  font-family: "zipli-icon";
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
  display: inline-block;
  font-style: normal;
  font-variant: normal;
  font-weight: normal;
  line-height: 1;
  vertical-align: middle;
  content: "";
  position: absolute;
  top: 0;
  left: 0;
  right: 0;
  bottom: 0;
  color: #999999;
  line-height: 1.618;
  text-indent: 0;
  text-align: center;
}

.blockUI::before {
  font-family: "zipli-icon";
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
  display: inline-block;
  font-style: normal;
  font-variant: normal;
  font-weight: normal;
  line-height: 1;
  vertical-align: middle;
  content: "";
  animation: fa-spin 0.75s linear infinite;
  height: 30px;
  width: 30px;
  line-height: 30px;
  font-size: 30px;
  position: absolute;
  top: 50%;
  left: 50%;
  margin-left: -15px;
  margin-top: -15px;
}

.pagination ul.page-numbers li .next,
.pagination ul.page-numbers li .prev {
  position: relative;
  font-size: 0;
}
.pagination ul.page-numbers li .next:before, .pagination ul.page-numbers li .next:after,
.pagination ul.page-numbers li .prev:before,
.pagination ul.page-numbers li .prev:after {
  font-size: 22px;
  font-family: "zipli-icon";
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
  display: inline-block;
  font-style: normal;
  font-variant: normal;
  font-weight: normal;
  line-height: 1;
  vertical-align: middle;
}
.pagination ul.page-numbers li .next:before {
  content: "";
}
.pagination ul.page-numbers li .prev:after {
  content: "";
}

#shipping_method li > label {
  cursor: pointer;
  padding-right: 20px;
  position: relative;
}
#shipping_method li > label::after {
  font-family: "zipli-icon";
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
  display: inline-block;
  font-style: normal;
  font-variant: normal;
  font-weight: normal;
  line-height: 1;
  vertical-align: middle;
  content: "";
  position: absolute;
  right: 0;
  top: 50%;
  transform: translateY(-50%);
}
#shipping_method li > input[type=radio]:first-child {
  border: 0;
  clip: rect(1px, 1px, 1px, 1px);
  -webkit-clip-path: inset(50%);
  clip-path: inset(50%);
  height: 1px;
  margin: -1px;
  overflow: hidden;
  padding: 0;
  position: absolute;
  width: 1px;
  word-wrap: normal !important;
}
#shipping_method li > input[type=radio]:first-child:checked + label::after {
  content: "";
}
#shipping_method li > input[type=hidden]:first-child + label {
  padding-right: 0;
}
#shipping_method li > input[type=hidden]:first-child + label::after {
  content: none;
}

#payment .payment_methods li > label {
  cursor: pointer;
}
#payment .payment_methods li > label::before {
  font-family: "zipli-icon";
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
  display: inline-block;
  font-style: normal;
  font-variant: normal;
  font-weight: normal;
  line-height: 1;
  vertical-align: middle;
  content: "";
  margin-right: 0.5407911001em;
  transition: color, ease, 0.2s;
}
#payment .payment_methods li > input[type=radio]:first-child {
  border: 0;
  clip: rect(1px, 1px, 1px, 1px);
  -webkit-clip-path: inset(50%);
  clip-path: inset(50%);
  height: 1px;
  margin: -1px;
  overflow: hidden;
  padding: 0;
  position: absolute;
  width: 1px;
  word-wrap: normal !important;
}
#payment .payment_methods li > input[type=radio]:first-child:checked + label::before {
  content: "";
}

.button.wl-create-new::before {
  font-family: "zipli-icon";
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
  display: inline-block;
  font-style: normal;
  font-variant: normal;
  font-weight: normal;
  line-height: 1;
  vertical-align: middle;
  content: "";
  margin-right: 0.5407911001em;
}

.elementor-widget-zipli-vertical-menu .vertical-navigation .zipli-icon {
  position: relative;
}
.elementor-widget-zipli-vertical-menu .vertical-navigation .zipli-icon::after {
  font-family: "zipli-icon";
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
  display: inline-block;
  font-style: normal;
  font-variant: normal;
  font-weight: normal;
  line-height: 1;
  vertical-align: middle;
  content: "";
  font-size: 16px;
  transition: transform 0.2s;
}
.elementor-widget-zipli-vertical-menu .vertical-navigation .zipli-icon::before {
  position: absolute;
  font-family: "zipli-icon";
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
  display: inline-block;
  font-style: normal;
  font-variant: normal;
  font-weight: normal;
  line-height: 1;
  vertical-align: middle;
  content: "";
  font-size: 16px;
  transform: translate3d(0, 250%, 0);
  transition: transform 0.2s;
}
.elementor-widget-zipli-vertical-menu .vertical-navigation:hover .zipli-icon::after {
  transform: translate3d(0, -250%, 0);
}
.elementor-widget-zipli-vertical-menu .vertical-navigation:hover .zipli-icon::before {
  transform: translate3d(0, 0, 0);
}

@media (min-width: 768px) {
  .gecko .main-navigation ul.menu > li.menu-item-has-children > a:after, .gecko .main-navigation ul.menu > li.page_item_has_children > a:after, .gecko .main-navigation ul.menu > li.has-mega-menu > a:after,
.gecko .main-navigation ul.nav-menu > li.menu-item-has-children > a:after,
.gecko .main-navigation ul.nav-menu > li.page_item_has_children > a:after,
.gecko .main-navigation ul.nav-menu > li.has-mega-menu > a:after {
    margin-bottom: 0;
    vertical-align: sub;
  }

  .header-side .main-navigation ul.menu > li.menu-item-has-children > a::after, .header-side .main-navigation ul.menu > li.page_item_has_children > a::after, .header-side .main-navigation ul.menu > li.has-mega-menu > a::after,
.header-side .main-navigation ul.nav-menu > li.menu-item-has-children > a::after,
.header-side .main-navigation ul.nav-menu > li.page_item_has_children > a::after,
.header-side .main-navigation ul.nav-menu > li.has-mega-menu > a::after {
    font-family: "zipli-icon";
    -webkit-font-smoothing: antialiased;
    -moz-osx-font-smoothing: grayscale;
    display: inline-block;
    font-style: normal;
    font-variant: normal;
    font-weight: normal;
    line-height: 1;
    vertical-align: middle;
    content: "";
    margin-left: 1em;
    margin-right: -25px;
  }

  .vertical-navigation ul.menu > li.menu-item-has-children > a::after, .vertical-navigation ul.menu > li.page_item_has_children > a::after, .vertical-navigation ul.menu > li.has-mega-menu > a::after,
.vertical-navigation ul.nav-menu > li.menu-item-has-children > a::after,
.vertical-navigation ul.nav-menu > li.page_item_has_children > a::after,
.vertical-navigation ul.nav-menu > li.has-mega-menu > a::after,
.vertical-navigation ul.sub-menu > li.menu-item-has-children > a::after,
.vertical-navigation ul.sub-menu > li.page_item_has_children > a::after,
.vertical-navigation ul.sub-menu > li.has-mega-menu > a::after {
    font-family: "zipli-icon";
    -webkit-font-smoothing: antialiased;
    -moz-osx-font-smoothing: grayscale;
    display: inline-block;
    font-style: normal;
    font-variant: normal;
    font-weight: normal;
    line-height: 1;
    vertical-align: middle;
    content: "";
    margin-left: auto;
    float: right;
    font-size: 8px;
  }

  .nav-vertiacl-menu-layout-content-style-2 ul.menu > li::after {
    font-family: "zipli-icon";
    -webkit-font-smoothing: antialiased;
    -moz-osx-font-smoothing: grayscale;
    display: inline-block;
    font-style: normal;
    font-variant: normal;
    font-weight: normal;
    line-height: 1;
    vertical-align: middle;
    content: "";
    margin-left: auto;
    float: right;
    font-size: 14px;
  }

  .main-navigation ul.menu ul li.menu-item-has-children > a::after, .main-navigation ul.menu ul li.page_item_has_children > a::after,
.main-navigation ul.nav-menu ul li.menu-item-has-children > a::after,
.main-navigation ul.nav-menu ul li.page_item_has_children > a::after {
    font-family: "zipli-icon";
    -webkit-font-smoothing: antialiased;
    -moz-osx-font-smoothing: grayscale;
    display: inline-block;
    font-style: normal;
    font-variant: normal;
    font-weight: normal;
    line-height: 1;
    vertical-align: middle;
    content: "";
    float: right;
    margin-left: 8px;
    line-height: 1.2;
    color: var(--accent);
    font-size: 8px;
    position: relative;
    top: 6px;
  }

  .addresses header.title a {
    display: block;
    width: 1em;
    height: 1em;
    text-indent: -9999px;
    position: relative;
    padding: 0.875em;
    margin-top: 0.6180469716em;
  }
  .addresses header.title a::before {
    font-family: "zipli-icon";
    -webkit-font-smoothing: antialiased;
    -moz-osx-font-smoothing: grayscale;
    display: inline-block;
    font-style: normal;
    font-variant: normal;
    font-weight: normal;
    line-height: 1;
    vertical-align: middle;
    content: "";
    line-height: 1.618;
    position: absolute;
    top: 0;
    left: 0;
    height: 100%;
    width: 100%;
    text-align: center;
    text-indent: 0;
  }
}
body.loading {
  position: relative;
}
body.loading::after {
  font-family: "zipli-icon";
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
  display: inline-block;
  font-style: normal;
  font-variant: normal;
  font-weight: normal;
  line-height: 1;
  vertical-align: middle;
  content: "";
  animation: fa-spin 0.75s linear infinite;
  height: 40px;
  width: 40px;
  line-height: 40px;
  font-size: 40px;
  position: fixed;
  top: 50%;
  left: 50%;
  display: block;
  z-index: 999999;
  color: #fff;
}
body.loading:before {
  content: "";
  display: block;
  position: fixed;
  width: 100vw;
  height: 100vh;
  left: 0;
  top: 0;
  background-color: rgba(0, 0, 0, 0.7);
  z-index: 999998;
}

.single-post .single-content .entry-content ul.custom-style-list {
  list-style: none;
  margin-left: 0;
  font-weight: 600;
}
.single-post .single-content .entry-content ul.custom-style-list li {
  margin-bottom: 4px;
}
.single-post .single-content .entry-content ul.custom-style-list li:before {
  font-family: "zipli-icon";
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
  display: inline-block;
  font-style: normal;
  font-variant: normal;
  font-weight: normal;
  line-height: 1;
  vertical-align: middle;
  content: "";
  color: var(--primary);
  margin-right: 13px;
  font-size: 18px;
}

a.read-more:after {
  font-family: "zipli-icon";
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
  display: inline-block;
  font-style: normal;
  font-variant: normal;
  font-weight: normal;
  line-height: 1;
  vertical-align: middle;
  content: "";
  margin-left: 5px;
}

.layout-2 .team-content-header:before {
  font-family: "zipli-icon";
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
  display: inline-block;
  font-style: normal;
  font-variant: normal;
  font-weight: normal;
  line-height: 1;
  vertical-align: middle;
  content: "";
}

.layout-3 .teambox-item-inner:before {
  font-family: "zipli-icon";
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
  display: inline-block;
  font-style: normal;
  font-variant: normal;
  font-weight: normal;
  line-height: 1;
  vertical-align: middle;
  content: "";
}

.elementor-widget-zipli-language-switcher .zipli-language-switcher .language-switcher-head:after {
  position: relative;
  font-family: "zipli-icon";
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
  display: inline-block;
  font-style: normal;
  font-variant: normal;
  font-weight: normal;
  line-height: 1;
  vertical-align: middle;
  content: "";
  margin-left: 5px;
  line-height: 12px;
}

.popup-navigation ul.menu > li.menu-item-has-children > a:after, .popup-navigation ul.menu > li.page_item_has_children > a:after, .popup-navigation ul.menu > li.has-mega-menu > a:after,
.popup-navigation ul.nav-menu > li.menu-item-has-children > a:after,
.popup-navigation ul.nav-menu > li.page_item_has_children > a:after,
.popup-navigation ul.nav-menu > li.has-mega-menu > a:after {
  font-family: "zipli-icon";
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
  display: inline-block;
  font-style: normal;
  font-variant: normal;
  font-weight: normal;
  line-height: 1;
  vertical-align: middle;
  content: "";
  margin-left: 0.5em;
  font-size: 16px;
}

.popup-navigation ul.menu ul li.menu-item-has-children > a::after, .popup-navigation ul.menu ul li.page_item_has_children > a::after,
.popup-navigation ul.nav-menu ul li.menu-item-has-children > a::after,
.popup-navigation ul.nav-menu ul li.page_item_has_children > a::after {
  font-family: "zipli-icon";
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
  display: inline-block;
  font-style: normal;
  font-variant: normal;
  font-weight: normal;
  line-height: 1;
  vertical-align: middle;
  content: "";
  float: right;
  margin-left: 0.5em;
  line-height: 20px;
  font-size: 14px;
}

.elementor-widget-zipli-image-gallery .grid__item a[data-elementor-open-lightbox=yes]:after {
  font-family: "zipli-icon";
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
  display: inline-block;
  font-style: normal;
  font-variant: normal;
  font-weight: normal;
  line-height: 1;
  vertical-align: middle;
  content: "";
}

.elementor-link-accordion-title .title:before,
.elementor-link-showcase-title .title:before {
  font-family: "zipli-icon";
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
  display: inline-block;
  font-style: normal;
  font-variant: normal;
  font-weight: normal;
  line-height: 1;
  vertical-align: middle;
  content: "";
  font-size: 14px;
}

.link-showcase-title-inner .elementor-link-showcase-title span:after {
  font-family: "zipli-icon";
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
  display: inline-block;
  font-style: normal;
  font-variant: normal;
  font-weight: normal;
  line-height: 1;
  vertical-align: middle;
  content: "";
  font-size: 9px;
}

@keyframes mf-spin-fast {
  0% {
    -webkit-transform: rotate(0);
    transform: rotate(0);
    animation-timing-function: cubic-bezier(0.55, 0.055, 0.675, 0.19);
  }
  50% {
    -webkit-transform: rotate(900deg);
    transform: rotate(900deg);
    animation-timing-function: cubic-bezier(0.215, 0.61, 0.355, 1);
  }
  to {
    -webkit-transform: rotate(1800deg);
    transform: rotate(1800deg);
  }
}
@-webkit-keyframes mf-spin-fast {
  0% {
    -webkit-transform: rotate(0);
    transform: rotate(0);
    animation-timing-function: cubic-bezier(0.55, 0.055, 0.675, 0.19);
  }
  50% {
    -webkit-transform: rotate(900deg);
    transform: rotate(900deg);
    animation-timing-function: cubic-bezier(0.215, 0.61, 0.355, 1);
  }
  to {
    -webkit-transform: rotate(1800deg);
    transform: rotate(1800deg);
  }
}
@-o-keyframes mf-spin-fast {
  0% {
    -webkit-transform: rotate(0);
    transform: rotate(0);
    animation-timing-function: cubic-bezier(0.55, 0.055, 0.675, 0.19);
  }
  50% {
    -webkit-transform: rotate(900deg);
    transform: rotate(900deg);
    animation-timing-function: cubic-bezier(0.215, 0.61, 0.355, 1);
  }
  to {
    -webkit-transform: rotate(1800deg);
    transform: rotate(1800deg);
  }
}
@-ms-keyframes mf-spin-fast {
  0% {
    -webkit-transform: rotate(0);
    transform: rotate(0);
    animation-timing-function: cubic-bezier(0.55, 0.055, 0.675, 0.19);
  }
  50% {
    -webkit-transform: rotate(900deg);
    transform: rotate(900deg);
    animation-timing-function: cubic-bezier(0.215, 0.61, 0.355, 1);
  }
  to {
    -webkit-transform: rotate(1800deg);
    transform: rotate(1800deg);
  }
}
.form-style .mc4wp-form .mc4wp-form-fields:before {
  font-family: "zipli-icon";
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
  display: inline-block;
  font-style: normal;
  font-variant: normal;
  font-weight: normal;
  line-height: 1;
  vertical-align: middle;
  content: "";
}

.button-popup-content .mfp-close:before {
  font-family: "zipli-icon";
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
  display: inline-block;
  font-style: normal;
  font-variant: normal;
  font-weight: normal;
  line-height: 1;
  vertical-align: middle;
  content: "";
}

.service-item.service-style-4 .service-head .service-head-title:after {
  font-family: "zipli-icon";
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
  display: inline-block;
  font-style: normal;
  font-variant: normal;
  font-weight: normal;
  line-height: 1;
  vertical-align: middle;
  content: "";
  font-size: 30px;
  margin-left: auto;
}
@media (max-width: 568px) {
  .service-item.service-style-4 .service-head .service-head-title:after {
    font-size: 20px;
  }
}
@media (min-width: 1200px) {
  .service-item.service-style-4 .service-head .service-head-title:after {
    margin-top: auto;
    margin-left: 0;
  }
}

.active .service-item.service-style-4 .service-head .service-head-title:after {
  content: "";
  color: var(--primary);
}

.elementor-widget-zipli-box-banner .box-banner-list .box-banner-item:last-of-type .box-banner-number span:before {
  font-family: "zipli-icon";
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
  display: inline-block;
  font-style: normal;
  font-variant: normal;
  font-weight: normal;
  line-height: 1;
  vertical-align: middle;
  content: "";
  color: #fff;
  font-size: 16px;
}

.group-item .group-meta li:before {
  font-family: "zipli-icon";
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
  display: inline-block;
  font-style: normal;
  font-variant: normal;
  font-weight: normal;
  line-height: 1;
  vertical-align: middle;
  content: "";
  font-size: 24px;
  color: var(--primary);
}

/*# sourceMappingURL=icons.css.map */
